body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    color: #555;

}

h1,
h2 {
    color: #111;
}

#topbar {
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 5px solid orange;

}

a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

#Header {
    max-width: 888px;
    margin: auto;
    padding: 30px;
}

.hardline {
    font-size: 56px;
    line-height: 64px;
}

.subtitle {
    font-weight: normal;
    font-size: 20px;
}

.author {
    font-weight: bold;
    font-size: 16px;
}

.social-icons {

    margin-top: 10px;
}

.social-icon {
    width: 20px;
    padding: 10px 10px 10px 0;
}

#content {
    max-width: 648px;
    margin: auto;
}

#top1 {
    font-size: x-large;
    font-weight: bold;
}

hr {
    width: 70%;
}

p {
    font-size: 20px;
    line-height: 32px;
}

.cta {
    font-size: 20px;
    margin: 30px 0;
}

#content2 {
    max-width: 648px;
    margin: auto;
}

#geladeira {
    margin: 30px 0;
}

#fim {
    padding: 30px;
    background-color: #333;
}


figure {
    margin: 40px 0;
    padding: 0;
}

figure>img{
    width: 100%;
}