body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    color: #555;

}
h1,h2{
    color: #111;
}

#topbar {
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 5px solid orange;

}

a {
    text-decoration: none;
    color: orange;
}

#Header {
    max-width: 888px;
    margin: auto;
    padding: 30px;
}
.hardline{
    font-size: 56px;
    line-height: 64px;
}
.subtitle{
    font-weight: normal;
    font-size: 20px;
}

.author{
    font-weight: bold;
    font-size: 16px;
}
.social-icons{

    margin-top: 10px;
}

.social-icon{
    width: 20px;
    padding: 10px 10px  10px 0;
}

#content {
    max-width: 50%;
    margin: auto;
}

#top1 {
    font-size: x-large;
    font-weight: bold;
}

hr {
    width: 70%;
}